@import "component";

/*
Url : /fr/concours-les-surprises-des-fetes/
      /en/holiday-surprise-contest/
*/
body {
      &.page-holiday-surprise-contest,
      &.page-concours-les-surprises-des-fetes{
            .font-small-screen{
                  .fl-module-heading {
                        .fl-heading{
                              @media (max-width: $extra-small-screen) {
                                    font-size: rem(30);
                                    line-height: rem(38);
                              }
                        }
                  }
            }
      }
}