@import "component";

/*
Url : /fr/a-propos/fondation-olo/
      /en/about-us/fondation-olo/
*/
body {
:focus,
  a,
  button,
  input,
  .is-tabbing {
    &:focus {
      outline: rem(1) solid $red !important;
    }
  }
  &.page-fondation-olo {
    .d-xl-block{
      @include media-breakpoint-down(sm){
        display: block;
      }
    }
    // Reason: Added css to manage styling of article section
    .left_content_section {
      .fl-col-group-equal-height {
        background: $yellow;

        .article_singlur_count {
          padding: rem(50) 0;

          .fl-node-content {
            .fl-module-photo {
              .fl-photo {
                @include media-breakpoint-only(md) {
                  padding: 0 rem(35);
                }
              }
            }
          }

          &:first-child {
            .fl-node-content {
              .fl-module-photo {
                .fl-photo {
                  @include media-breakpoint-only(md) {
                    padding: 0 rem(42);
                  }
                }
              }
            }
          }

          &:last-child {
            .fl-node-content {
              .fl-module-photo {
                .fl-photo {
                  @include media-breakpoint-only(md) {
                    padding: 0 rem(30);
                  }
                }
              }
            }
          }

          @include media-breakpoint-only(lg) {
            padding: rem(30) 0;
            font-size: rem(16);
          }

          @include media-breakpoint-only(md) {
            padding: rem(30) 0;
          }

          @include media-breakpoint-down(sm) {
            padding: 0;
          }

          .fl-module-content {
            .fl-heading {
              @include media-breakpoint-only(lg) {
                font-size: rem(20);
              }
            }
          }
        }
      }
    }

    // Module: fl-module-social_share
    // Reason: Added css to manage styling of social share icons
    .fl-module-social_share {
      .component_social_share {
        border-top: 0;
        padding-top: rem(0);
        padding-bottom: rem(40);
        padding-right: rem(55);

        @include media-breakpoint-only(lg) {
          padding-right: rem(25);
        }

        @include media-breakpoint-down(sm) {
          float: left;
          padding: rem(30) rem(0);
        }

        &.show_print_button {
          a {
            padding: rem(0) rem(3);

            @include media-breakpoint-down(sm) {
              float: left;
              margin-right: rem(10);
            }

            span {
              background-color: $blue-101;
              border-color: $blue-101;
            }

            &:last-child {
              display: none;
            }
          }
        }

        .title {
          font-size: rem(20);
          font-family: $heading-font;

          @include media-breakpoint-down(sm) {
            padding-top: rem(0);
            padding-right: rem(50);
          }
        }
      }
    }

    // Reason: Added css to set size of sidebar heading for small screen
    .right_content_section {
      .fl-module-heading {
        .fl-heading {
          a {
            @media (max-width: $ultra-screen) {
              font-size: rem(16);
              line-height: rem(22);
            }
          }

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    // Module: Multi-item Carousel
    // Reason: Added css to manage styling of recipe slider
    .cookHealthSection {
      max-width: rem(1920) !important;
      background: $dark-yellow;

      @include media-breakpoint-down(sm) {
        padding-right: 0;
      }
    }

    .recipeSliderSection {
      .slick-list {
        padding-top: rem(70);
        padding-left: rem(5);
        padding-right: rem(5);
        padding-bottom: rem(5);
        margin: 0 rem(-5);

        @include media-breakpoint-down(sm) {
          padding-right: 6%;
        }
      }

      h3 {
        &.card-title {
          @include media-breakpoint-only(lg) {
            padding:rem(18) rem(15) !important;
          }
          @include media-breakpoint-only(md){
            padding:rem(18) rem(25)  !important;
          }
          a {
            font-size: rem(18);
            line-height: rem(28);
            color: $gray-103;
          }
          span {
            &.imageStyle {
              position: absolute;
              top: rem(-90);
              left: 0;
              right: 0;
              margin: 0 auto;
              pointer-events: none;
              @include media-breakpoint-only(md) {
                top: rem(-70);
              }
              img {
                margin: 0 auto;
              }
            }
          }
        }
      }
      .component_multi_item_carousel {
        .component-content-wrapper {
          .slick-dots {
            li {
              button {
                width: rem(12);
                height: rem(12);
                margin: 0;
                background: $white;
              }

              &.slick-active {
                button {
                  background-color: $brand-dark;
                }
              }
            }
          }
          .slick-arrow {
            font-size: 0;
            padding: 0;
            height: rem(50);
            width: rem(50);
            @include media-breakpoint-down(sm) {
              display: none !important;
            }
            &.slick-prev {
              left: rem(-18);
              top: 50%;
              transform: translate(0, -50%);
              background: $white;
              border-color: $white;
              box-shadow: 0 rem(2) rem(6) 0 $gray-dark-transparent;
              &:before {
                content: '\e894';
                position: relative;
                color: $brand-dark;
                font-size: rem(20);
              }
            }
            &.slick-next {
              right: rem(-18);
              top: 50%;
              transform: translate(0, -50%);
              background: $white;
              border-color: $white;
              box-shadow: 0 rem(2) rem(6) 0 $gray-dark-transparent;

              &:before {
                content: '\e895';
                position: relative;
                font-size: rem(20);
                color: $brand-dark;
              }
            }
          }
          .carousel-item{
            .card{
              .card-image-wrap{
                height: rem(300);
                a {
                  display: inline-block;
                  float: left;
                  height: 100%;
                  &:focus,
                  &:focus-visible {
                    border: rem(1) solid $red !important;
                  }
                }
                @include media-breakpoint-only(lg){
                  height: rem(185);
                }
                @include media-breakpoint-only(md){
                  height: rem(185);
                }
                .card-img-top{
                  border-radius: 0;
                }
              }
            }
          }
        }
        .container-fluid {
          @include media-breakpoint-down(sm) {
            padding-left: 0;
            padding-right: 0;
          }
          .component-content-wrapper {
            .slick-dots {
              @include media-breakpoint-down(sm) {
                padding-right: 6%;
              }
            }
            .slick-arrow {
              @include media-breakpoint-down(sm) {
                display: none !important;
              }
            }
          }
        }
      }
    }
    .participateColumnSection {
      .fl-col-group-nested {
        max-width: 60%;
        margin: 0 auto;
        padding: 0 0;
        @include media-breakpoint-only(lg) {
          max-width: 75%;
        }
        @include media-breakpoint-only(md){
          max-width: 80%;
        }
        @include media-breakpoint-down(sm) {
          max-width: 100%;
        }
      }
    }
  }
}
// Reason: Added css to manage styling of content of column
.categoryFoundation{
  max-width: rem(1920);
  .left_contentSection{
    &.sm_container{
      @media  (min-width: $ultra-screen-lg){
        padding: 0;
      }
    }
  }
}
// Module: Accordion with Repeater Content
// Reason: Added css to manage styling of Accordion
.accordionSection {
  .component_bs_accordion {
    .card {
      .card-header {
        &:before {
          left: 0;
          right: auto;
        }

        h5 {
          font-size: rem(18);
          color: $gray-103;
          margin-left: rem(30);
        }
      }
      .collapse {
        width: 100%;
        clear: both;
        .card-body {
          display: flex;
          flex-direction: column;
          margin-left: rem(30);
          padding-bottom: rem(30);
          p {
            font-size: rem(16);
            color: $gray-103;
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
      }
      .collapsing {
        width: 100%;
        padding-left: rem(30);
      }
    }
  }
}
