@import "component";
.newsletter_form {
	.frm_style_formidable-style {
		.frm_form_fields {
			.frm_fields_container {
				.form_main_container {
					.frm_form_field {
						&.date_of_birth {
							&:after {								
								content: $icon-calendar;
								font-size: rem(20);
								font-family: 'brand';
								color: $brand-dark;
								position: absolute;
								bottom: rem(16);
								float: right;
								right: rem(22);
								@include media-breakpoint-down(sm) {
									right: 0;
								}
							}
						}
					}
					.frm_opt_container {
						.frm_radio {
							label {
								input[type=radio] {
									width: rem(18);
									height: rem(18);
									&:before {
										width: rem(8);
										height: rem(8);
										margin: rem(4) 0 0 rem(4);
										box-shadow: inset rem(10) rem(10) $white;
									}
								}
							}
						}
					}
				}
			}
		}
		&.with_frm_style {
			.frm_blank_field{
				&.newsletter-required-field{
					position:relative;
					padding-bottom:rem(15);
					
					.frm_checkbox{
						label{
						   color: $gray-25;
						}
					}
					.frm_error{
						bottom:0;
					}
				}
			}
			.frm_error_style{
				@media (min-width:$ultra-screen-sm){
					margin-bottom: 0;
				}
				@media (max-width: $extra-small-screen) {
					margin-top: 0;
				}
			}
		} 
	}
} 
