@import "component";
/*  

Page(s):
	- /spend-your-time-camping-not-cooking
	- /maximum-de-camping-minimum-de-cuisine

*/

body {

	&.page-spend-your-time-camping-not-cooking,
	&.page-maximum-de-camping-minimum-de-cuisine {
		.top_full_container {
			.fl-row-content-wrap {
				@media (max-width: $extended-screen-lg) {
					padding-left: rem(30);
					padding-right: rem(30);
				}

				@include media-breakpoint-down(sm) {
					padding-left: rem(25);
					padding-right: rem(25);
				}
			}
		}

		.camping-list {
			padding-left: rem(15);

			@include media-breakpoint-down(sm) {
				margin-bottom: 0;
			}

			li {
				font-weight: 300;
				margin-bottom: rem(15);

				&:last-child {
					@include media-breakpoint-down(sm) {
						margin-bottom: 0;
					}
				}

				&::marker {
					width: rem(7);
					height: rem(7);
					color: $brand-dark;
				}
			}
		}

		.summer-recipe-slider {
			.component_multi_item_carousel {
				.component-content-wrapper {
					.carousel-wrapper {
						.slick-slide {
							&.slick-current {
								.card {
									.card-body {
										padding: 0 rem(16);

										.card-title {
											a {
												color: $gray-103;

												&:hover {
													color: $gray-103;
												}
											}
										}
									}
								}
							}

							.card {
								.card-body {
									@include media-breakpoint-down(sm) {
										height: auto !important;
									}

									.card-title {
										font-size: rem(30);
										line-height: 1.2;
										margin-top: rem(30);

										a {
											color: $white;

											&:hover {
												color: $white;
											}
										}
									}

									a {
										&.cta-button {
											margin-top: rem(40);
										}
									}
								}
							}
						}

						button {
							&.slick-arrow {
								&::before {
									font-size: rem(20);

									@include media-breakpoint-down(sm) {
										top: calc(50% - 10px);
									}

									@media (max-width: $small-screen) {
										font-size: rem(16);
									}
								}

								&.slick-prev {
									@media (max-width: $small-screen) {
										width: rem(35);
										height: rem(35);
									}

									&::before {
										@media (max-width: $small-screen) {
											left: calc(50% - 25px);
										}
									}
								}

								&.slick-next {
									@media (max-width: $small-screen) {
										width: rem(35);
										height: rem(35);
									}

									&::before {
										@include media-breakpoint-down(sm) {
											top: 0;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}