@import "component";

/*
URL: /fr/concours-nourrir-le-reve/
     /en/feed-the-dream-contest/
*/
body {
    :focus,
    a,
    button,
    input,
    .is-tabbing {
        &:focus {
            outline: rem(1) solid $red!important;
        }
    }
    &.page-feed-the-dream-contest,
    &.page-concours-nourrir-le-reve {
     h1,
     h2,
     h3,
     h4,
     h5,
     h6 {
       font-family: $bemio-font;
       font-weight: 400 !important;
        }
     p {
       font-family: $main-font;
       &:empty{
         display: none;
        }
     }
     .official_supporter_col {
        .olympics_col {
          position: relative;
          &:after {
            position: absolute;
            content: '';
            background: $black-101;
            height: rem(136);
            width: rem(2);
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            @include media-breakpoint-down(sm) {
              height: rem(64);
              width: rem(1)
            }
          }
        }
     }
     .free_groceries {
      .fl-heading {
        @include media-breakpoint-only(lg) {
          font-size: rem(75);
        }
        @media (max-width: $small-screen) {
          font-size: rem(44);
        }
      }
     }
     .section_seprator {
        width: rem(634);
        margin: 0 auto;
        @include media-breakpoint-down(sm) {
          width: auto;
        }
        .fl-photo-content {
             &::after {
                content: '';
                position: absolute;
                width: rem(179);
                height: rem(2);
                background: $black-101;
                top: 50%;
                right: rem(125);
                @include media-breakpoint-down(sm) {
                  right: rem(22);
                }
                @media (max-width: $small-screen) {
                  width: rem(125);
                  right: rem(32);
                }
                @media (max-width: $extra-small-screen) {
                  right: rem(16);
                }
             }
             &::before {
                content: '';
                position: absolute;
                width: rem(179);
                height: rem(2);
                background: $black-101;
                top: 50%;
                left: rem(125);
                @include media-breakpoint-down(sm) {
                  left: rem(22);
                }
                @media (max-width: $small-screen) {
                  width: rem(125);
                  left: rem(32);
                }
                @media (max-width: $extra-small-screen) {
                  left: rem(16);
                }
              }
          }
      }
      .multi_products {
        .fl-row-content-wrap {
          @media (max-width: $small-screen) {
            margin-top: rem(10);
            margin-bottom: rem(10);
          }
        }
      }
      .scene_plus_card_row {
        .scene_plus_card_col {
          @media (max-width: $extra-small-screen) {
            width: 100% !important;
          }
          .fl-module-photo {
            > .fl-module-content {
              @media (max-width: $extra-small-screen) {
                margin-right: 0;
                margin-bottom: rem(30);
              }
              .fl-photo {
                @media (max-width: $extra-small-screen) {
                  text-align: center;
                }
              }
            }
          }
          .fl-module-heading {
            @media (max-width: $extra-small-screen) {
              text-align: center;
            }
          }
        }
      }
      .consult_btn_row {
        .fl-col-group {
          .fl-col {
            &:first-child {
            .fl-module-button {
                @media (max-width: $small-screen) {
                  margin-bottom: rem(30);
                }
              }
            }
          }
        }
        .fl-col {
          @media (max-width: $small-screen) {
            width: 100% !important;
          }
          .fl-col-content {
            @media (max-width: $small-screen) {
              margin-left: 0;
              margin-right: 0;
            }
            .consult_btn {
              .fl-module-content {
                @media (max-width: $small-screen) {
                  width: rem(230);
                  margin: 0 auto;
                }
                .fl-button {
                  @include media-breakpoint-only(md) {
                    width: rem(250);
                  }
                }
              }
            }
          }
        }
      }
      .scene_plus_card {
        .fl-heading {
          font-family: $heading-font;
        }
      }
      .store_locator_row {
        .fl-col-group {
          width: rem(1305);
          margin: 0 auto;
          @media (max-width: $ultra-screen) {
            width: auto;
          }
          .store_locator_col {
            >.fl-col-content {
              justify-content: space-between;
              @media (min-width:$extended-screen-sm) and (max-width: $ultra-screen) {
                padding: rem(30);
              }
              @include media-breakpoint-only(lg) {
                padding: rem(30);
              }
              @media (max-width: $small-screen) {
                padding: rem(30);
              }
              .fl-heading {
                @media (min-width:$extended-screen-sm) and (max-width: $extended-screen-lg) {
                  font-size: rem(32);
                  line-height: rem(42);
                }
                @include media-breakpoint-only(lg) {
                  font-size: rem(28);
                  line-height: rem(38);
                }
                @media (max-width: $small-screen) {
                  font-size: rem(32);
                  line-height: rem(42);
                }
              }
            }
          }
        }
      }
      .bottom_para {
        .fl-col-group {
          width: rem(1136);
          margin: 0 auto;
          @include media-breakpoint-down(lg) {
            width: auto;
          }
          a {
            &:hover {
              color: $red;
            }
          }
        }
      }
    }
}