@import "component";

/*
Url : /fr/conditions-dutilisation/
      /en/terms-of-use/
*/
body {
    &.page-terms-of-use,
    &.page-conditions-dutilisation {
        // Module: fl-module-rich-text
        // Reason: Added CSS to style lisiting, paragraph and heading

        .fl-module-rich-text {
            .fl-rich-text {
                h3 {
                    color: $blue-101;
                }
                h1 {
                    font-size: rem(30);
                    font-weight: bold;
                    color: $blue-101;
                }
                h2{
                    color: $blue-101;
                    font-size: rem(19);
                }
                ul {
                    padding-left: rem(15);
                    li {
                        font-size: rem(16);
                        line-height: rem(24);
                        padding-bottom: rem(10);
                        font-family: $main-font;
                        &:first-letter {
                            text-transform: capitalize;
                        }
                        a {
                            color: $blue-101;
                        }
                    }
                }
                p {
                    font-size: rem(16);
                    line-height: rem(24);
                    span {
                        a {
                            color: $blue-101;
                        }
                    }
                }
                .term_and_condition_page {
                    .col-md-12 {
                        padding: rem(0);
                    }
                }
            }
        }
    }
}
