@import "component";

/*
Url : /en/proud-of-our-regions/
      /fr/fiers-de-nos-regions/
      /en/want-to-go-out-to-eat/
      /fr/on-sort-manger-dehors/
*/
body {
    &.page-proud-of-our-regions,
    &.page-fiers-de-nos-regions,
    &.page-want-to-go-out-to-eat,
    &.page-on-sort-manger-dehors {
        .page_top_banner {
            .fl-module-z_pattern_v2 {
                .component_z_pattern_v2 {
                    .safety-container {
                        .text-container {
                            @include media-breakpoint-down(sm) {
                                padding-top: rem(65);
                                padding-bottom: rem(65);
                            }
                        }
                    }
                }
            }
        }
        .communities-slide { 
            &.summer-recipe-slider {
                .component_multi_item_carousel {
                    &.-showcase {
                        .component-content-wrapper {
                            .carousel-item {
                                .card {
                                    .card-body {
                                        display: none;
                                    }
                                    .card-image-wrap {
                                        @include media-breakpoint-only(md) {
                                            height: rem(220);
                                        }
                                    }
                                }
                            }
                            .carousel-wrapper {
                                button {
                                    &.slick-arrow {
                                        @include media-breakpoint-only(md) {
                                            width: rem(45);
                                            height: rem(50);
                                            top: rem(95);
                                        }
                                        &:before {
                                            color: $red-102;
                                        }
                                    }
                                    &.slick-prev {
                                        &:before {
                                            @include media-breakpoint-only(md) {
                                                top: calc(50% - 10px);
                                                left: calc(50% - 40px);
                                            }
                                        }
                                    }
                                    &.slick-next {
                                        &:before {
                                            @include media-breakpoint-only(md) {
                                                top: calc(50% - 15px);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.summer-recipe-slider-mob {
                .component_multi_item_carousel {
                    &.-showcase {
                        .component-content-wrapper {
                            .carousel-item {
                                .card {
                                    .card-body {
                                        display: none;
                                    }
                                    .card-image-wrap {
                                        height: rem(450) !important;
                                        .card-img-top {
                                            object-position: center;
                                        }
                                    }
                                }
                            }
                            .carousel-wrapper {
                                button {
                                    &.slick-arrow {
                                        top: calc( 50% - 20px );
                                        &:before {
                                            color: $red-102;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .summer-product-slider {
            .component_multi_item_carousel {
                &.default {
                    .component-content-wrapper {
                        .carousel-item {
                            .card {
                                .card-image-wrap {
                                    @media (min-width: $ultra-screen-sm) {
                                        height: rem(415);
                                    }
                                    @include media-breakpoint-down(sm) {
                                        height: rem(385);
                                    }
                                    @media (max-width: $small-screen) {
                                        height: rem(320);
                                    }
                                    @media (max-width: $extra-small-screen) {
                                        height: rem(250);
                                    }
                                    .card-img-top {
                                        border-radius: 0;
                                    }
                                }
                                .card-body {
                                    display: none;
                                }
                            }
                        }
                        .slick-arrow {
                            @include media-breakpoint-down(sm) {
                                position: absolute;
                                font-size: 0;
                                border: 0;
                                margin: 0;
                                width: rem(45);
                                height: rem(45);
                                background-color: $white;
                                top: calc( 50% - 20px );
                                z-index: 11;
                            }
                            &.slick-prev {
                                &:before {
                                    @include media-breakpoint-down(sm) {
                                        transform:none;
                                        color: $red-102;
                                        top: calc(50% - 10px);
                                        left: calc(50% - 35px);
                                    }
                                }
                                &:hover {
                                    &:before {
                                        @include media-breakpoint-down(sm) {
                                            transform:none;
                                            top: calc(50% - 10px);
                                        }
                                    }
                                }
                            }
                            &.slick-next {
                                &:before {
                                    @include media-breakpoint-down(sm) {
                                        transform:none;
                                        color: $red-102;
                                        top: calc(50% - 10px);
                                        left: calc(50% - 33px);
                                    }
                                }
                                &:hover {
                                    &:before {
                                        @include media-breakpoint-down(sm) {
                                            transform:none;
                                            top: calc(50% - 10px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        // Reason: Scss for summer infuenceurs
        .summer-infuenceurs {
            .component_multi_item_carousel {
                .component-content-wrapper {
                    .carousel-item {
                        .card {
                            display: flex;
                            flex-direction: row-reverse;
                            justify-content: center;
                            align-items: center;
                            background-color: $yellow;
                            @include media-breakpoint-down(sm) {
                                flex-direction: column;
                            }
                            .card-body {
                                @media (min-width: $ultra_screen_lg) {
                                    padding: rem(93) rem(60);
                                }
                                @include media-breakpoint-only(lg) {
                                    padding-right: rem(15);
                                    padding-left: rem(35);
                                }
                                @include media-breakpoint-down(sm) {
                                    height: auto !important;
                                }
                                @media (max-width: $small-screen) {
                                    padding-top: rem(20);
                                    padding-bottom: rem(20);
                                }
                                .card-title {
                                    color: $red-102;
                                    padding: 0;
                                    @include media-breakpoint-down(sm) {
                                        height: auto !important;
                                    }
                                }
                                .card-description {
                                    padding: 0;
                                    @include media-breakpoint-down(sm) {
                                        height: auto !important;
                                    }
                                    a {
                                        margin-top:rem(25);
                                        display: block;
                                    }
                                }
                            }
                            .card-image-wrap {
                                max-width: rem(320);
                                width: 100%;
                                height: 100%;
                                @include media-breakpoint-between(md, lg) {
                                    flex: 0 0 40%;
                                }
                                @include media-breakpoint-down(sm) {
                                    max-width: 100%;
                                    height: auto;
                                }
                                img {
                                    border-radius: 0;
                                }
                            }
                        }
                    }
                    .slick-arrow {
                        background-color: $white;
                        border-color: $light-grey;
                        top: calc(50% - 25px);
                        color: transparent;
                        @include media-breakpoint-down(sm) {
                            width: rem(45);
                            height: rem(45);
                            top: calc(50% - 15px);
                        }
                        &:before {
                            color: $red-102;
                            transform: none;
                            top: calc(50% - 12px);
                            left: calc(50% - 40px);
                            @include media-breakpoint-down(sm) {
                                top: calc(50% - 10px);
                                left: calc(50% - 30px);
                            }
                        }
                    }
                    .slick-prev {
                        left:rem(-20);
                        @include media-breakpoint-down(sm) {
                            left:rem(-22);
                        }
                    }
                    .slick-next {
                        right:rem(-20);
                        @include media-breakpoint-down(sm) {
                            right:rem(-22);
                        }
                    }
                }
            }
        }
        .hiring_col_img {
            @include media-breakpoint-only(lg) {
                width: 100%;
                order: 1;
            }
            @include media-breakpoint-only(md) {
                width: 100%;
                order: 1;
            }
            .fl-col-content {
                @include media-breakpoint-only(lg) {
                    min-height: rem(600);
                }
                @include media-breakpoint-down(sm) {
                    min-height: rem(300);
                }
                @media (max-width: $small-screen) {
                    min-height: rem(270);
                } 
            }
        }
        .hiring_col_txt {
            @include media-breakpoint-only(lg) {
                order: 2;
            }
            @include media-breakpoint-only(md) {
                order: 2;
            }
        }
    }
}
