@import "component";
.menu-header-menu{
    display: none;
}
.component_bs_accordion{
    .card {
        .card-header {
            padding-right: 0 !important;
            .accordion-header{
            padding-right: 24px !important;
              padding-top: rem(16);
              padding-bottom: rem(16);
    
              &:before {
                margin-top: 0 !important;
                content: url($asset_path + "/img/arrow-down.svg") !important;
                height: rem(8);
                width: rem(14);
                color: rgba(64, 64, 64, 1) !important;
              }
    
             
            }
            
        }
        &[aria-expanded=true] 
        .card-header {
            .accordion-header{
                &:before {
                    content: url($asset_path + "/img/arrow-up.svg") !important;
                  }
        }
        }
        
        
        
        
        
}
}


