@import "component";

/*
URL: /en/blog-and-tips/
*/

body {
    &.page-blog-and-tips,
    &.page-blogs-conseils {
        // Module: Builder Column
        // Reason: Added css for column spacing on small screen
        .text-border {
            .fl-col.fl-col-small {
                @include media-breakpoint-down(sm) {
                    margin-right: rem(15);
                }
            }

            .fl-module-bs_card {
                // Module: fl-module-bs_card
                // Reason: Added css to manage module image height
                .component_bs_card {
                    &:hover {
                        .overlay {
                            height: 100%;
                            opacity: 1;
                        }
                    }
                    &.card {
                        .overlay{
                            background-color: $brand-dark-transparent;
                            &::before {
                                background-color: $brand-dark;
                                content: '';
                                display: block;
                                height: 100%;
                                opacity: 0.1;
                                position: absolute;
                                width: 100%;
                            }
                        }
                        .card-img-top {
                            background-position: center;
                            max-height: rem(250);
                            @include media-breakpoint-only(lg){
                                max-height: rem(200);
                            }
                            @include media-breakpoint-only(md) {
                                height: rem(150);
                            }
                            @include media-breakpoint-down(sm) {
                                height: rem(230);
                            }
                        }

                        // Module: fl-module-bs_card
                        // Reason: Added css for card body styling
                        .card-body {
                            border: rem(1) solid $light-grey;
                            font-size: rem(18);
                            line-height: rem(24);
                            font-weight: bold;
                            padding-right: rem(100);
                            @media (max-width: $ultra-screen) {
                                padding-right: rem(20);
                            }

                            @include media-breakpoint-only(md) {
                                font-size: rem(13);
                                line-height: rem(18);
                                padding: rem(15);
                            }

                            .card-text {
                                @include media-breakpoint-only(md) {
                                    height: auto;
                                }

                                p {
                                    color: $gray-103;
                                    margin: 0;
                                    font-family: $heading-font;

                                    @media (max-width: $small-screen) {
                                        font-size: rem(18);
                                        line-height: rem(24);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        // Reason: Added css for mange card width on mobile
        .mobile_carousel{
            .slick-list{
                .fl-col{
                    &.fl-col-small{
                        @include media-breakpoint-down(sm){
                            width: 100%  !important;
                        }
                    }
                }
            }
        }
    }
}
