@import "component";

/*
Url : /en/in-the-community/
      /fr/on-simplique/
*/
body {
    &.page-in-the-community,
    &.page-on-simplique {
        // Module: fl-module-list_module
        // Reason: Added CSS to style listing
        .fl-module-list_module {
            .component_list_module {
                .heading {
                    display: none;
                }
                ul {
                    li {
                        color: $blue-102;
                        font-family: $main-font;
                        padding: 0;
                        padding-left: rem(28);
                        line-height: rem(24);
                        margin-bottom: rem(6);
                        min-height: auto;
                        &:before {
                            display: none;
                        }

                        span {
                            background: $blue-101;
                            width: rem(18);
                            height: rem(18);
                            border-radius: rem(100);
                            top: rem(2);
                            padding: 0;

                            &:before {
                                content: "";
                                position: absolute;
                                bottom: rem(6);
                                left: rem(7);
                                width: rem(5);
                                height: rem(8);
                                border-radius: rem(1);
                                border: solid $white;
                                border-width: 0 rem(2) rem(2) 0;
                                transform: rotate(45deg);
                            }
                        }
                    }
                }
            }
        }
    }
}
