@import "component";

/*
URL: /en/sceneplus/
*/

body {
    .boxes_sec_row {
        .scenecard_icon {
            .fl-col-content {
                @include media-breakpoint-only(md) {
                    justify-content: center;
                }
                @include media-breakpoint-down(sm) {
                    justify-content: inherit;
                }
                .scenecard_icon_col_right {
                    @media (min-width:$extended-screen-sm) and (max-width: $ultra-screen) {
                        padding-left: rem(50);
                        padding-right: rem(10);
                    }
                    @include media-breakpoint-only(lg) {
                        padding-left: rem(50);
                        padding-right: rem(10);
                    }
                    .fl-col-content {
                        @media (max-width: $extra-small-screen) {
                            padding: rem(30) rem(20) 0 rem(20);
                        }
                        .scenecard_icon_heading {
                            h2 {
                                @media (min-width:$extended-screen-sm) and (max-width: $ultra-screen) {
                                    font-size: rem(32);
                                }
                                @include media-breakpoint-only(lg) {
                                    font-size: rem(30);
                                }
                                @media (max-width: $small-screen) {
                                    font-size: rem(32);
                                }
                                @media (max-width: $extra-small-screen) {
                                    font-size: rem(28);
                                }
                                .scene-font {
                                    font-weight: 500;
                                    font-family: $heading-font-1;
                                }
                                .span_block {
                                    @include media-breakpoint-down(sm) {
                                        display: block;
                                    }
                                    @media (max-width: $small-screen) {
                                        display: inline;
                                    }
                                }
                            }
                        }
                        .scenecard_icon_text {
                            .fl-module-content {
                                @media (max-width: $ultra-screen) {
                                    margin-right: rem(20);
                                }
                                p {
                                    .span_block {
                                        @include media-breakpoint-down(sm) {
                                            display: block;
                                        }
                                        @media (max-width: $small-screen) {
                                            display: inline;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .scene-link-color {
        color: $purple-light  !important;
    }
    .want-more-rewards-box {
        .want-more {
            h2 {
                @media (max-width: $ultra-screen) {
                    font-size: rem(42);
                }
                @include media-breakpoint-only(lg) {
                    font-size: rem(40);
                }
                @media (max-width: $small-screen) {
                    font-size: rem(28);
                }
            }
        }
        .scene_step {
            .fl-col-content {
                .scene_step_heading {
                    h2 {
                        @media (max-width: $ultra-screen) {
                            font-size: rem(32);
                        }
                        @include media-breakpoint-only(lg) {
                            font-size: rem(30);
                        }
                        @include media-breakpoint-only(md) {
                            font-size: rem(20) !important;
                        }
                        @media (max-width: $small-screen) {
                            font-size: rem(28);
                        }
                    }
                }
                .reward-step-box {
                    .fl-module-content {
                        @media (min-width:$extended-screen-sm) and (max-width: $extended-screen-lg) {
                            margin-left: rem(30);
                            margin-right: rem(30);
                        }
                        @include media-breakpoint-only(lg) {
                            margin-left: rem(20);
                            margin-right: rem(20);
                        }
                    }
                    &.step-box-one {
                        .fl-module-content {
                            @media (min-width:$ultra-screen-sm) {
                                margin-left: rem(105);
                                margin-right: rem(105);
                            }
                            @media (max-width: $small-screen) {
                                margin-left: rem(10);
                                margin-right: rem(10);
                            }
                        }
                    }
                }
                .scene-link-color {
                    color: $purple-light;
                }
            }
        }
    }
    .little-more-reward-box {
        .reward-box_text {
            .fl-module-content {
                @media (max-width: $extended-screen-lg) {
                    margin-right: rem(20);
                }
            }
        }
    }
    .win_groceries {
        @include media-breakpoint-down(sm) {
            margin-left: rem(25);
            margin-right: rem(25);
        }
        .fl-row-content-wrap {
            @media (max-width: $small-screen) {
                background-position: 87%;
            }
            @media (max-width: $extra-small-screen) {
                background-position: 80%;
            }
            .fl-col-group {
                @include media-breakpoint-down(sm) {
                    display: flex;
                }
                .fl-col-content {
                    @include media-breakpoint-down(sm) {
                        background-color: transparent;
                    }
                    .win_groceries_text {
                        .fl-col-content {
                            @include media-breakpoint-only(lg) {
                                padding-left: rem(40);
                            }
                            @include media-breakpoint-down(sm) {
                                margin-right: 0;
                            }
                            @media (max-width: $small-screen) {
                                margin-right: 0;
                            }
                            .scene_sobeys_logo {
                                img {
                                    @media (max-width: $extra-small-screen) {
                                        width: 85%;
                                    }
                                }
                            }
                            .scene_half_bubble {
                                .fl-photo-content {
                                    width: auto;
                                    position: relative;
                                    left: -22%;
                                }
                            }
                            .fl-module-rich-text {
                                p {
                                    @media (max-width: $small-screen) {
                                        font-size: rem(16);
                                        line-height: 1.5;
                                    }
                                    @media (max-width: $extra-small-screen) {
                                        font-size: rem(14);
                                        line-height: 1.5;
                                        margin-bottom: 0;
                                    }
                                }
                            }
                            .fl-module-heading {
                                h2 {
                                    .scene-font {
                                        font-weight: 500;
                                        font-family: $heading-font-1;
                                    }
                                    @media (min-width:$extended-screen-sm) and (max-width: $extended-screen-lg) {
                                        font-size: rem(46) !important;
                                    }
                                    @media (min-width: $ultra-screen-lg) {
                                        font-size: rem(96);
                                    }

                                    @media (min-width:$extended-screen-sm) and (max-width: $extended-screen-lg) {
                                        font-size: rem(50);
                                    }
                                    @include media-breakpoint-only(lg) {
                                        font-size: rem(45);
                                    }
                                    @media (max-width: $small-screen) {
                                        font-size: rem(32);
                                    }
                                    @media (max-width: $extra-small-screen) {
                                        font-size: rem(26);
                                    }
                                }
                                h3 {
                                    @media (min-width: $ultra-screen-lg) {
                                        font-size: rem(40);
                                    }
                                    @media (max-width: $small-screen) {
                                        font-size: rem(18);
                                    }
                                }
                            }
                            .contest_rules_text {
                                align-items: center;
                                justify-content: center;
                                display: flex;
                                @include media-breakpoint-down(sm) {
                                    display: block;
                                }
                                .contest_rules_text_btn {
                                    width: 40%;
                                    @media (min-width: $ultra-screen-lg) {
                                        width: 47%;
                                    }
                                    @include media-breakpoint-down(sm) {
                                        width: 100%;
                                        float: left;
                                        margin-bottom: rem(30);
                                    }
                                    @media (max-width: $extra-small-screen) {
                                        margin-bottom: rem(18);
                                    }
                                    button {
                                        background-color: $black;
                                        border-color: $black;
                                        border-radius: rem(100);
                                        @media (min-width: $ultra-screen-lg) {
                                            font-size: rem(24);
                                            padding: rem(17) rem(40);
                                        }
                                        @media (max-width: $ultra-screen) {
                                            font-size: rem(12);
                                        }
                                        @media (min-width:$extended-screen-sm) and (max-width: $extended-screen-lg) {
                                            font-size: rem(12);
                                            padding: rem(10) rem(15);
                                        }
                                        @include media-breakpoint-only(lg) {
                                            font-size: rem(11);
                                            padding: rem(10) rem(15);
                                        }
                                    }
                                }
                                .contest_rules_text_para {
                                    width: 60%;
                                    font-size: rem(14);
                                    padding-left: rem(30);
                                    line-height: 1.5;
                                    margin-bottom: 0;
                                    color: $black;
                                    @include media-breakpoint-down(sm) {
                                        width: 100%;
                                        border-left: 0;
                                        padding-left: 0;
                                        font-size: rem(10);
                                        line-height: 1.5;
                                        padding-right: rem(90);
                                    }
                                    @media (max-width: $small-screen) {
                                        padding-right: rem(80);
                                    }
                                }
                            }
                        }
                        fl-module-heading {
                            h2 {
                                @include media-breakpoint-only(lg) {
                                    font-size: rem(45) !important;
                                }
                            }
                        }
                        .contest_rules_text {
                            .contest_rules_text_btn {
                                a {
                                    button {
                                        @media (max-width: $ultra-screen) {
                                            font-size: rem(12);
                                        }
                                        @include media-breakpoint-only(lg) {
                                            font-size: rem(11);
                                            padding: rem(10) rem(15);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .cs-word-break {
        @media (max-width: $ultra-screen) {
            word-break: break-all;
        }
    }
}