@import "component";

/*
URL: /fr/videos/
     /en/videos/
*/

body {
	&.page-videos{
		.video_lightbox{
			.video_lightbox_close{
				text-shadow: 0 0 rem(2) $black-transparent, 0 0 rem(2) $black-transparent;
			}
		}
		.custom-video-card-main {
			width: 100%;
			display: inline-block;

			.custom-video-card {
				display: inline-block;
				width: 100%;
				.img-sec {
					display: inline-block;
					position: relative;
					width: 100%;
					img {
						width: 100%;
						object-fit: cover;
					}
					.overlay {
						position: absolute;
						left: 0;
						bottom: 0;
						height: 0;
						right: 0;
						text-align: center;
						-webkit-transition: .5s ease;
						-o-transition: .5s ease;
						-moz-transition: .5s ease;
						transition: .5s ease;
						width: 100%;
						background: $transparent-red;
						align-items: center;
						justify-content: center;
						display: flex;
						overflow: hidden;
						i{
							&.icon-play {
								font-size: rem(60);
								color: $white;
							}
							img{
								width: rem(70);
								height:rem(70);
							}
						}
					}
					&:hover {
						.overlay {
							height: 100%;
						}
					}
				}
				p {
					margin: 0;
					display:none;
				}
				.text-sec {
					padding: rem(20);
					@include media-breakpoint-only(md) {
						padding: rem(15);
					}
					h3 {
						font-size: rem(24);
						line-height: rem(28);
						margin: 0;
						margin-bottom: rem(20);
						@include media-breakpoint-only(md) {
							font-size: rem(18);
							line-height: rem(24);
							margin-bottom: rem(15);
						}
					}
				}
			}
		}

		.fl-module-bs_card {
			.component_bs_card {
				overflow:hidden;
				&:hover {
					.overlay {
						height: 100%;
						opacity: 1;
					}
				}
				.overlay {
					&::before {
						background-color: $red-102;
						content: '';
						display: block;
						height: 100%;
						position: absolute;
						width: 100%;
					}
				}
				&.card {
					&:hover {
						a {
							text-decoration: none;
						}
					} 
					.card-body {
						padding-left:rem(25);
						padding-right:rem(25);
						h5.card-title{
							margin-top: rem(8);
						}
						@media (max-width: $extended-screen-lg) {
							padding: rem(5) rem(10);
							.card-title {
								a {
									font-size: rem(18);
								}
							}
						}
					}
					.card-img-top {
						height: rem(325);
						background-position: center;
						@media (max-width: $ultra-screen) {
							height: rem(250);
						}
						@media (max-width: $extended-screen-lg) {
							height: rem(200);
						}
					}
				}
			}
		}
	}
}