@import "component";

/*
Url : /en/about-us/neighborhood-stories/welcome-to-mr-smileys/
      /fr/a-propos/histoires-de-quartier/entrevue-avec-daniel-croteau/
*/
body {
  &.page-welcome-to-mr-smileys,
  &.page-entrevue-avec-daniel-croteau
  {
    // Reason: Added css to manage styling of article section
      .left_content_section {
        .fl-col-group-equal-height {
          background: $yellow;
          .article_singlur_count {
            padding: rem(50) 0;
            .fl-node-content{
              .fl-module-photo {
                .fl-photo {
                  @include media-breakpoint-only(md){
                    padding: 0 rem(35);
                  }
                }
              }
            }
            &:first-child{
              .fl-node-content{
                .fl-module-photo {
                  .fl-photo {
                    @include media-breakpoint-only(md){
                      padding: 0 rem(42);
                    }
                  }
                }
              }
            }
            &:last-child{
              .fl-node-content{
                .fl-module-photo {
                  .fl-photo {
                    @include media-breakpoint-only(md){
                      padding: 0 rem(30);
                    }
                  }
                }
              }
            }
            @include media-breakpoint-only(lg) {
              padding: rem(30) 0;
              font-size: rem(16);
            }
            @include media-breakpoint-only(md) {
              padding: rem(30) 0;
            }
            @include media-breakpoint-down(sm) {
              padding: 0;
            }
            .fl-module-content {
              .fl-heading {
                @include media-breakpoint-only(lg) {
                  font-size: rem(20);
                }
              }
            }
          }
        }
      }
    // Module: fl-module-social_share
    // Reason: Added css to manage styling of social share icons
    .fl-module-social_share {
      .component_social_share {
        border-top: 0;
        padding-top: rem(0);
        padding-bottom: rem(40);
        padding-right: rem(55);
        @include media-breakpoint-only(lg) {
          padding-right: rem(25);
        }
        @include media-breakpoint-down(sm) {
          float: left;
          padding: rem(30) rem(0);
        }
        &.show_print_button {
          a {
            @media (max-width: $ultra-screen){
              padding: rem(0) rem(3);
            }
            @include media-breakpoint-down(sm) {
              float: left;
              margin-right: rem(10);
            }
            span {
              background-color: $blue-101;
              border-color: $blue-101;
            }
            &:last-child {
              display: none;
            }
          }
        }
        .title {
          font-size: rem(20);
          font-weight: 300;
          @include media-breakpoint-down(sm) {
            padding-top: rem(0);
            padding-right: rem(50);
          }
        }
      }
    }
    // Reason: Added css to set size of sidebar heading for small screen
    .right_content_section {
      .fl-module-heading {
        .fl-heading {
          a {
            @media (max-width: $ultra-screen) {
              font-size: rem(16);
              line-height: rem(22);
            }
          }
        }
      }
    }
  }
}