@import "component";

/*
Url : /en/contest/
      /fr/concours/
*/
body {
    &.page-contest, 
    &.page-concours{
        .contest-text{
            .fl-module-content{
                .fl-rich-text{
                    p{
                        a{
                            color: $brand-dark;
                            @media (max-width: $extra-small-screen) {
                                word-break: break-word;
                            }
                        }
                    }
                }
            }
        }
    }
}