@import "component";

body {
	.cookie_policy {
		.sobeys_container {
			.col_right{
				padding-right:0;
				@include media-breakpoint-down(sm) {
					width: rem(100);
				}
			}
		}
		@include media-breakpoint-down(sm) {
			.scp_desc {
				line-height: rem(20);
			}
		}
	}
}