# ========================================
# General
# ========================================
*~
.svn
.cvs
Thumbs.db
Thumbs.dbw
sitemap.xml
sitemap.xml.gz
robots.txt

# ========================================
# Environment specific
# ========================================
.htaccess
local-config.php
wp-config-domain-overwrites.php
Dockerfile
docker-compose.yml

# ========================================
# WP Engine specific
# ========================================
.smushit-status
.gitattributes
.quarantine
.tmb
_wpeprivate
wp-content/object-cache.php
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/stop-long-comments.php
wp-content/mu-plugins/force-strong-passwords*
wp-content/mu-plugins/wpengine-common*
wp-content/mu-plugins/wpe-wp-sign-on-plugin*
wp-content/mu-plugins/wpengine-security-auditor.php

# ========================================
# WordPress specific 
# ========================================
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
/db.php

# ========================================
# Plugin specific
# ========================================
wp-content/plugins/sobeys-store-importer/json
wp-content/plugins/user-switching/
wp-content/plugins/wordpress-importer

# Beaver Builder Icons
wp-content/uploads/bb-plugin/*
!wp-content/uploads/bb-plugin/icons/
wp-content/uploads/bb-plugin/icons/*
!wp-content/uploads/bb-plugin/icons/icon-*

wp-content/stores/*

# ========================================
# Sass specific
# ========================================
.sass-cache
compass_app_log.txt
/.sass-lint.yml

# ========================================
# Node.js specific
# ========================================
node_modules/
.linting_reports

# ========================================
# macOS specific
# ========================================
.DS_Store
.AppleDouble
.LSOverride

# ========================================
# Editor specific
# ========================================
*.sublime-project
*.sublime-workspace
*.komodoproject
atlassian-ide-plugin.xml
.vscode/*
.idea/
*.iml
.idea
*.ipr
*.iws
/out/
.idea_modules/
crashlytics.properties
crashlytics-build.properties
.apdisk
/box

# ========================================
# FP Foundation
# ========================================
.env
.env.json
# This file gets generated dynamically by saving ACF fields it shouldn't be commited.
custom-theme-style.css

# ========================================
# Ignore disabled git projects to quickly allow for pushing changes back up to original repo
# ========================================
.git_disabled

# ========================================
# large/disallowed file types
# ========================================
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
*.bak
*.swp
*.log
*.lock
*.sql
*.sqlite
*.7z
*.gz
*.jar
*.rar
*.tar
*.zip
*.map

*.map
/wp-content/mu-plugins/dale-fp-plugin.php

# devops
wp-config-sample.php
