@import "component";

.component_bs_accordion {
	&.-toggle-icon {
		.card {
			&.collapsed {
				.card-header {
					.accordion-header {
						&::after {
							transform: rotate(90deg);
						}
					}
				}
			}

			.card-header {
				.accordion-header {
					position: relative;

					&::before {
						content:'^';
						position: absolute;
						right: 0;
					}
				}
			}
		}
	}

	.card {
		.card-body {
			.card-content-grid {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 10px;
			}
		}
	}
}