@import "component";

/**
Url : /en/articles/proudly-cultivating-a-sense-of-family/
**/
body {
  &.single-story {
    .page_top_banner {
      .fl-module-z_pattern {
        .component_z_pattern {
          &.-right-to-left {
            .safety-container {
              .text-container {
                .display-table {
                  .display-cell {
                    .heading {
                      line-height: 1.2;
                    }
                  }
                }
              }
              .image-container {
                img {
                  height: 550px;
                  max-height: inherit !important;
                  @media (max-width: $ultra-screen) {
                    height: rem(450);
                  }
                  @include media-breakpoint-only(lg) {
                    height: rem(400);
                  }
                  @include media-breakpoint-only(md) {
                    height: rem(400);
                  }
                  @include media-breakpoint-down(sm) {
                    height: rem(300);
                  }
                }
              }
            }
          }
        }
      }
      .fl-module-z_pattern_v2 {
        .component_z_pattern_v2 {
          .safety-container {
            .image-container {
              img {
                @media (min-width: $ultra-screen-sm) {
                  height: 550px;
                }
              }
            }
          }
        }
      }
    }

    // Module :fl-module-rich-text
    // Reason: Added css to style heading, paragraph and images
    .single_article_content {
      .text-links {
        text-decoration: underline;
        color: $brand-dark;
      }
      .image-content {
        margin: rem(30) 0;
        display: flex;
        @include media-breakpoint-down(lg) {
          flex-wrap: wrap;
          width: 100%;
        }
        img {
          @include media-breakpoint-down(lg) {
            width: 100%;
            height: auto;
            margin-bottom: rem(30);
          }
        }
        div {
          &.content {
            padding-left: rem(30);
            @include media-breakpoint-down(lg) {
              padding-left: 0;
            }
          }
          h3 {
            line-height: inherit;
            margin-bottom: rem(30);
            @media (max-width: $extended-screen-lg) {
              line-height: rem(36);
            }
            @include media-breakpoint-down(lg) {
              line-height: rem(36);
              margin-bottom: rem(20);
            }
          }
        }
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: rem(40);
      }
      h3 {
        font-size: rem(30);
        line-height: 1.2;
        margin-bottom: rem(10);
        @include media-breakpoint-down(sm) {
          font-size: rem(24);
        }
      }
      h4 {
        font-size: rem(30);
        line-height: 1.2;
        margin-bottom: rem(10);
        @include media-breakpoint-down(sm) {
          font-size: rem(24);
        }
      }
      .story-title-head {
        font-size: rem(30);
        line-height: 1.2;
        margin-bottom: rem(10);
        @include media-breakpoint-down(sm) {
          font-size: rem(24);
        }
      }
      h5 {
        font-size: rem(24);
        line-height: normal;
        margin-bottom: rem(12);
      }

      // Reason: Added css for style listing in Articles
      ul {
        padding: 0;
        li {
          font-family: $main-font;
          margin-bottom: rem(10);
          position: relative;
          padding-left: rem(18);
          list-style: none;
          @include media-breakpoint-down(sm) {
            margin-bottom: rem(8);
          }
          &:before {
            content: "";
            position: absolute;
            top: rem(9);
            left: 0;
            width: rem(6);
            height: rem(6);
            background-color: $blue-101;
            border-radius: 100%;
          }
        }
      }
      a {
        &.bouton-bleu {
          @extend %button_animated_outline;
          display: inline-block;
          text-decoration: none;
        }
      }
      .quote-background {
        background-color: $gray-light;
        padding: rem(30);
        border-left: rem(2) solid $brand-dark;
        margin-bottom: rem(40);
      }
    }

    // Module :fl-module-rich-text
    // Reason: Added css to style custom Html

    .single_article_count {
      background-color: $yellow;
      text-align: center;
      padding: rem(50) 0;
      margin-bottom: rem(50);
      @include media-breakpoint-only(lg) {
        padding: rem(30) 0;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: rem(30);
      }
      @include media-breakpoint-down(sm) {
        padding: 0;
      }
      .col-lg-4 {
        &:last-child {
          .singlur_count {
            @include media-breakpoint-down(sm) {
              border-bottom: 0;
            }
          }
        }
        .singlur_count {
          padding: rem(5) rem(30);
          border-right: rem(1) solid $yellow-01;
          @include media-breakpoint-only(md) {
            padding: rem(5) rem(10);
          }
          @include media-breakpoint-down(sm) {
            padding: rem(35) rem(10);
            margin: 0 rem(50);
            border-right: 0;
            border-bottom: rem(1) solid $yellow-01;
          }
          .article_count {
            font-family: $heading-font;
            color: $gray-103;
            font-size: rem(24);
            margin-top: rem(30);
            margin-bottom: 0;
            font-weight: 700;
            @include media-breakpoint-only(lg) {
              font-size: rem(20);
              line-height: rem(20);
            }
            @include media-breakpoint-only(md) {
              font-size: rem(16);
              line-height: 1.3;
            }
            @include media-breakpoint-down(sm) {
              font-size: rem(24);
              line-height: 1.25;
            }
            @media (max-width: $small-screen) {
              font-size: rem(20);
            }
          }
          .article_owner_icon {
            margin-bottom: rem(30);
            @include media-breakpoint-only(md) {
              margin-bottom: rem(20);
            }
          }
          img {
            height: rem(80);
            @include media-breakpoint-only(md) {
              height: rem(60);
            }
          }
        }
        &:last-child {
          .singlur_count {
            border-right: rem(0);
          }
        }
      }
    }

    // Module :fl-module-social_share
    // Reason: Added SCSS to align social icons

    .fl-module-social_share {
      .component_social_share {
        .title {
          @media (min-width: $ultra-screen-sm) {
            font-size: rem(20);
            line-height: rem(60);
          }
          @include media-breakpoint-only(lg) {
            line-height: rem(35);
          }
          @include media-breakpoint-down(sm) {
            padding-right: rem(50);
          }
          @media (max-width: $extra-small-screen) {
            width: 100%;
          }
        }
        text-align: center;
        @include media-breakpoint-down(md) {
          text-align: left;
        }
        a {
          &.social-share {
            span {
              &.social-icon {
                @media (min-width: $ultra-screen-sm) {
                  height: rem(60);
                  width: rem(60);
                }
                @include media-breakpoint-only(lg) {
                  height: rem(35);
                  width: rem(35);
                }
                &::before {
                  @media (min-width: $ultra-screen-sm) {
                    font-size: rem(24);
                    line-height: rem(60);
                  }
                  @include media-breakpoint-only(lg) {
                    font-size: rem(16);
                    line-height: rem(34);
                  }
                }
                &.dashicons-email-alt {
                  &::before {
                    font-size: rem(42);
                    @media (min-width: $ultra-screen-sm) {
                      font-size: rem(52);
                    }
                    @include media-breakpoint-only(lg) {
                      font-size: rem(34);
                    }
                    @include media-breakpoint-only(md) {
                      font-size: rem(35);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    // Reason: Added css to set size of sidebar heading for small screen
    .related_sidebar {
      .component_related {
        h2 {
          color: $gray-103;
        }
        .card-deck {
          .card-title {
            margin-top: rem(-6);
            &:first-letter {
              text-transform: capitalize;
            }
            a {
              color: $gray-103;
              font-size: rem(20);
              line-height: rem(24);
              @media (max-width: $ultra-screen) {
                font-size: rem(16);
                line-height: rem(22);
              }
            }
          }
        }
      }
    }
  }
}
