@import "component";

body {
    &.post-type-archive-recipe {
        .c-recipes-filter{
            .fl-col-group{
                .fl-col {
                    .fl-module-heading {
                        .fl-heading {
                            font-size: rem(16);
                            line-height: normal;
                        }
                    }
                    .fl-module-content,
                    .fl-col-content {
                        @include media-breakpoint-down(sm) {
                            margin: 0;
                        }
                        .fl-module-class-sort {
                            .facetwp-sort {
                                max-width:100%;
                                margin-bottom:0;
                                margin-top:rem(2);
                                @include media-breakpoint-down(sm) {
                                    margin-bottom: rem(20);   
                                } 
                                .facetwp-sort-select{
                                    color:$gray-103;
                                }            
                            }
                        }
                    }
                    .facetwp-facet-title {
                        font-size: rem(16);
                        margin-bottom: rem(2);
                        line-height: normal;
                    }
                    .facetwp-facet {
                        display: inline-block;
                        vertical-align: middle;
                        width: 100%;
                        border-bottom: rem(1) solid $gray-102;
                        position:relative;
                        margin-bottom:0;
                        color:$gray-103;
                        @include media-breakpoint-down(sm) {
                            margin-bottom: rem(20);   
                        }   
                        &.facetwp-type-dropdown{
                            &:after
                            {
                                border: rem(2) solid $brand-dark;
                                border-width: 0 rem(2) rem(2) 0;
                                content: "";
                                height: .5rem;
                                padding: .1875rem;
                                position: absolute;
                                right: rem(2);
                                transform: rotate(45deg);
                                top: calc(50% - .75rem);
                            }
                        }
                        .facetwp-input-wrap{
                            width: 100%;
                            .facetwp-icon {
                                opacity: 1;
                                &::before{
                                    font-family: "brand";
                                    content: $icon-search;
                                    color: $brand-dark;
                                    background: none;
                                    width: rem(20);
                                    font-style: normal;
                                    font-size: rem(21);
                                    margin-top: rem(4);
                                    &.f-loading{
                                        animation: none;
                                    }
                                }
                            }
                            .facetwp-search{
                                border:none;
                                width:100%;
                                margin-bottom: rem(8);
                                min-width: auto;
                                padding-bottom: rem(0);
                            }
                        }
                        .facetwp-dropdown {
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            -ms-appearance: none;			
                            border: 0;
                            width: 100%;
                            margin-bottom: rem(10);
                            cursor: pointer;
                            position: relative;
                            z-index: 9;
                            background: none;
                            color:$gray-103;
                        }
                    }
                }
            }
        } 


        .facetwp-template {
            .card-deck {
                .fl-module-recipe_card {
                    &:first-child {
                        margin-left:0;
                    }
                    &:nth-of-type(4n+1) {
                        .card {
                            margin-left:0;
                            @include media-breakpoint-only(md) {
                                margin-left:rem(6); 
                            }
                            @include media-breakpoint-down(sm) {
                                margin-left: 1.875rem;
                                margin-right: 1.875rem;
                            }
                        }
                    }
                    &:nth-of-type(4n+0) {
                        .card {
                            margin-right:0;
                            @include media-breakpoint-only(md) {
                                margin-right:rem(6); 
                            }    
                            @include media-breakpoint-down(sm) {
                                margin-left: 1.875rem;
                                margin-right: 1.875rem;
                            }                                                  
                        }
                    }     
                    &:nth-of-type(3n+0) {
                        .card {
                            @include media-breakpoint-only(md) {
                                margin-right: 0;
                            }                           
                        }
                    }  
                    &:nth-of-type(3n+1) {
                        .card {
                            @include media-breakpoint-only(md) {
                                margin-left: 0;
                            }                           
                        }
                    }                                                        
                    .card {
                        border: none;
                        @include media-breakpoint-down(sm) {
                            min-width: 80vw;
                            margin-left: 1.875rem;
                            margin-right: 1.875rem;
                            margin-bottom: 1.25rem;
                            margin-top: 0;
                        }
                        .card-body{
                            border-left: rem(1) solid $light-grey;
                            .col{
                                display: flex;
                                align-items: center;
                                span{
                                    margin-right: rem(15);
                                    @include media-breakpoint-only(md) {
                                        margin-right: rem(6);
                                    }
                                }
                                dl{
                                    text-align:left;
                                }
                                &:last-child {
                                    margin-left: rem(20);
                                    @include media-breakpoint-only(md) {
                                        margin-left: rem(5);
                                        margin-right: 0;
                                    }
                                }
                            }
                        }
                    }
                    &:nth-of-type(4n+0) {
                        .card-body {
                            border-right: none;
                        }
                    }
                }
            }
            .recipe-card{
                .card-img-top{
                    background-repeat: no-repeat;
                }
            }
        }
    }
}