
.icon-arrow-breadcrumbs:before { content: '\e800'; } /* '' */
.icon-arrow-left:before { content: '\e801'; } /* '' */
.icon-arrow-right:before { content: '\e802'; } /* '' */
.icon-bakery-active:before { content: '\e803'; } /* '' */
.icon-beer:before { content: '\e804'; } /* '' */
.icon-close:before { content: '\e805'; } /* '' */
.icon-collapse:before { content: '\e806'; } /* '' */
.icon-dropdown:before { content: '\e807'; } /* '' */
.icon-expand:before { content: '\e808'; } /* '' */
.icon-play:before { content: '\e809'; } /* '' */
.icon-bake:before { content: '\e80a'; } /* '' */
.icon-bakery:before { content: '\e80b'; } /* '' */
.icon-cheese-active:before { content: '\e80c'; } /* '' */
.icon-chill-time:before { content: '\e80d'; } /* '' */
.icon-04-icon-arrow-right:before { content: '\e80e'; } /* '' */
.icon-compliments-active:before { content: '\e80f'; } /* '' */
.icon-cool-time:before { content: '\e810'; } /* '' */
.icon-entire-collections:before { content: '\e811'; } /* '' */
.icon-compliments-active-1:before { content: '\e812'; } /* '' */
.icon-deli:before { content: '\e813'; } /* '' */
.icon-facebook-footer:before { content: '\e814'; } /* '' */
.icon-freeze-time:before { content: '\e815'; } /* '' */
.icon-floral:before { content: '\e816'; } /* '' */
.icon-info:before { content: '\e817'; } /* '' */
.icon-google-footer:before { content: '\e818'; } /* '' */
.icon-grocery-active:before { content: '\e819'; } /* '' */
.icon-instagram-footer:before { content: '\e81a'; } /* '' */
.icon-kitchen-active:before { content: '\e81b'; } /* '' */
.icon-macerate:before { content: '\e81c'; } /* '' */
.icon-left-with-bg:before { content: '\e81d'; } /* '' */
.icon-mail-white:before { content: '\e81f'; } /* '' */
.icon-marinate:before { content: '\e820'; } /* '' */
.icon-pinterest-footer:before { content: '\e822'; } /* '' */
.icon-produce-active:before { content: '\e823'; } /* '' */
.icon-right-with-bg:before { content: '\e824'; } /* '' */
.icon-nutella-cafe:before { content: '\e825'; } /* '' */
.icon-meat:before { content: '\e826'; } /* '' */
.icon-parking:before { content: '\e827'; } /* '' */
.icon-prep-time:before { content: '\e828'; } /* '' */
.icon-seafood-active:before { content: '\e829'; } /* '' */
.icon-serve:before { content: '\e82a'; } /* '' */
.icon-pharmacy-active:before { content: '\e82b'; } /* '' */
.icon-soak:before { content: '\e82c'; } /* '' */
.icon-store-atm:before { content: '\e82d'; } /* '' */
.icon-store-beer-wine:before { content: '\e82e'; } /* '' */
.icon-store-beer:before { content: '\e82f'; } /* '' */
.icon-recipe-mail:before { content: '\e830'; } /* '' */
.icon-store-cheese:before { content: '\e831'; } /* '' */
.icon-recipe-facebook:before { content: '\e832'; } /* '' */
.icon-produce:before { content: '\e833'; } /* '' */
.icon-recipe-print:before { content: '\e834'; } /* '' */
.icon-recipe-twitter:before { content: '\e835'; } /* '' */
.icon-rest:before { content: '\e836'; } /* '' */
.icon-rise:before { content: '\e837'; } /* '' */
.icon-seafood:before { content: '\e838'; } /* '' */
.icon-search:before { content: '\e839'; } /* '' */
.icon-store-address:before { content: '\e83a'; } /* '' */
.icon-store-car-wash:before { content: '\e83b'; } /* '' */
.icon-store-bakery:before { content: '\e83c'; } /* '' */
.icon-store-fax:before { content: '\e83d'; } /* '' */
.icon-store-meat:before { content: '\e83e'; } /* '' */
.icon-store-nutella-cafe:before { content: '\e83f'; } /* '' */
.icon-store-pet:before { content: '\e840'; } /* '' */
.icon-store-parking:before { content: '\e841'; } /* '' */
.icon-store-produce:before { content: '\e842'; } /* '' */
.icon-store-community:before { content: '\e843'; } /* '' */
.icon-store-hot-beverage:before { content: '\e844'; } /* '' */
.icon-store-deli:before { content: '\e845'; } /* '' */
.icon-store-meals-to-go:before { content: '\e846'; } /* '' */
.icon-store-manager:before { content: '\e847'; } /* '' */
.icon-store-every-service:before { content: '\e848'; } /* '' */
.icon-store-natural:before { content: '\e849'; } /* '' */
.icon-store-kitchen:before { content: '\e84a'; } /* '' */
.icon-store-floral:before { content: '\e84b'; } /* '' */
.icon-store-pin:before { content: '\e84c'; } /* '' */
.icon-store-phone:before { content: '\e84d'; } /* '' */
.icon-store-propane:before { content: '\e84e'; } /* '' */
.icon-store-seafood:before { content: '\e84f'; } /* '' */
.icon-store-sushi:before { content: '\e850'; } /* '' */
.icon-store:before { content: '\e851'; } /* '' */
.icon-top-nav-flyer:before { content: '\e852'; } /* '' */
.icon-top-nav-help:before { content: '\e853'; } /* '' */
.icon-top-nav-login:before { content: '\e854'; } /* '' */
.icon-top-nav-myoffers:before { content: '\e855'; } /* '' */
.icon-19-time:before { content: '\e857'; } /* '' */
.icon-twitter-footer:before { content: '\e858'; } /* '' */
.icon-wishlist:before { content: '\e859'; } /* '' */
.icon-youtube-footer:before { content: '\e85a'; } /* '' */
.icon-sushi:before { content: '\e85b'; } /* '' */
.icon-top-nav-store-location:before { content: '\e85c'; } /* '' */
.icon-wishlist-inverse:before { content: '\e85d'; } /* '' */
.icon-collapse-full:before { content: '\e85e'; } /* '' */
.icon-expand-full:before { content: '\e85f'; } /* '' */
.icon-mail-green:before { content: '\e860'; } /* '' */
.icon-05-icon-pin-postal:before { content: '\e861'; } /* '' */
.icon-06-icon-arrow-link:before { content: '\e862'; } /* '' */
.icon-06-icon-arrow-link-light:before { content: '\e863'; } /* '' */
.icon-07-icon-search:before { content: '\e864'; } /* '' */
.icon-08-icon-histories-owner:before { content: '\e865'; } /* '' */
.icon-09-icon-histories-employe:before { content: '\e866'; } /* '' */
.icon-10-icon-histories-store:before { content: '\e867'; } /* '' */
.icon-11-icon-facebook:before { content: '\e868'; } /* '' */
.icon-12-icon-twitter:before { content: '\e869'; } /* '' */
.icon-13-icon-email:before { content: '\e86a'; } /* '' */
.icon-14-icon-pin-map:before { content: '\e86b'; } /* '' */
.icon-15-icon-pin-map-small:before { content: '\e86c'; } /* '' */
.icon-16-icon-address:before { content: '\e86d'; } /* '' */
.icon-17-icon-phone:before { content: '\e86e'; } /* '' */
.icon-total-time:before { content: '\e86f'; } /* '' */
.icon-19-icon-manager:before { content: '\e870'; } /* '' */
.icon-20-icon-emplois-01:before { content: '\e871'; } /* '' */
.icon-21-icon-emplois-02:before { content: '\e872'; } /* '' */
.icon-22-icon-emplois-03:before { content: '\e873'; } /* '' */
.icon-23-icon-checklist:before { content: '\e874'; } /* '' */
.icon-24-icon-checklist-light:before { content: '\e875'; } /* '' */
.icon-25-icon-preparation:before { content: '\e876'; } /* '' */
.icon-25-icon-preparation-big:before { content: '\e877'; } /* '' */
.icon-26-icon-portion:before { content: '\e878'; } /* '' */
.icon-26-icon-portion-big:before { content: '\e879'; } /* '' */
.icon-27-icon-cuisson:before { content: '\e87a'; } /* '' */
.icon-28-icon-plat:before { content: '\e87b'; } /* '' */
.icon-29-icon-print:before { content: '\e87c'; } /* '' */
.icon-30-icon-accordion-min:before { content: '\e87d'; } /* '' */
.icon-30-icon-accordion-plus:before { content: '\e87e'; } /* '' */
.icon-00-logo-01:before { content: '\e87f'; } /* '' */
.icon-01-icon-store-locator:before { content: '\e880'; } /* '' */
.icon-02-icon-dropdown:before { content: '\e881'; } /* '' */
.icon-02-icon-dropdown-light:before { content: '\e882'; } /* '' */
.icon-03-icon-arrow-left:before { content: '\e883'; } /* '' */
.icon-02-icon-service2:before { content: '\e884'; } /* '' */
.icon-03-icon-service3:before { content: '\e885'; } /* '' */
.icon-04-icon-service4:before { content: '\e886'; } /* '' */
.icon-05-icon-service5:before { content: '\e887'; } /* '' */
.icon-06-icon-service6:before { content: '\e888'; } /* '' */
.icon-07-icon-service7:before { content: '\e889'; } /* '' */
.icon-08-icon-service8:before { content: '\e88a'; } /* '' */
.icon-01-icon-service1:before { content: '\e88b'; } /* '' */
.icon-filter:before { content: '\e88c'; } /* '' */
.icon-mail-ine:before { content: '\e88d'; } /* '' */
.icon-dashicons-email-alt:before { content: '\e88e'; } /* '' */
.icon-appointment:before { content: '\e88f'; } /* '' */
.icon-prev-icon:before { content: '\e894'; } /* '' */
.icon-next-icon:before { content: '\e895'; } /* '' */
.icon-instagram_solid:before { content: '\e900'; } /* '' */
.icon-pinterest_solid:before { content: '\e901'; } /* '' */
.icon-prev-slider:before { content: '\e924'; } /* '' */
.icon-next-slider:before { content: '\e925'; } /* '' */
.icon-pause:before { content: '\e926'; } /* '' */
.icon-play-1:before { content: '\e927'; } /* '' */
.icon-pinterest-p:before { content: '\f231'; } /* '' */
