@import 'component';

.component_fp_post_navigation {
	.post-nav-wrapper {
		width: 100%;
		display: table;
	}

	.fp-nav-link {
		display: table-cell;
		vertical-align: top;
		width: 50%;

		&.next {
			text-align: right;

			.nav-link-image {
				float: right;
				margin-right: 0;
			}
		}

		.nav-link-image {
			display: block;
			float: left;
			height: rem(100);
			width: rem(100);
			margin-right: rem(20);

			@include media-breakpoint-down(sm) {
				width: rem(130);
				height: rem(130);
				object-fit: cover;
			}
		}

		.nav-link-text {
			float: left;
			width: calc(100% - 120px);

			@include media-breakpoint-down(sm) {
				width: 100%;
			}

			.nav-text {
				display: block;

				@include media-breakpoint-down(sm) {
					margin-top: rem(10);
				}
			}

			.nav-link {
				display: inline-block;
				line-height: normal;
				margin-top: rem(5);

				[class^="icon-arrow-"] {
					&::before {
						margin-top: rem(10);
						font-size: rem(16);
					}
				}

				.link-title {
					transition: .4s color ease;
				}
			}
		}
	}
}