@import "component";

/*
Url : /fr/emplois/
      /en/jobs/
*/

body {

	// Module: frm_forms
	// Reason: css added to styling the error color
	.frm_style_formidable-style {
		&.with_frm_style {
			.frm_error {
				font-family: $main-font-3;
				font-size: rem(12);
				font-weight: 500;
				margin-top: rem(2);
				position: absolute;
				color: $red;
			}
		}
	}

	.job-manager-heading {
		.fl-module-heading {
			.fl-heading {
				font-size: rem(40);

				@include media-breakpoint-down(sm) {
					font-size: rem(36);
					line-height: rem(40);
				}
			}
		}
	}

	.fl-builder-content {
		.sobeys-jm-bs-nav {
			@include media-breakpoint-down(md) {
				padding: 0;
			}

			.navbar-nav {
				.menu-item {
					padding: rem(22) rem(22) 0 rem(22);
					border: none;

					@include media-breakpoint-down(sm) {
						border-bottom: rem(1) solid $gray-102;
						padding: 0;
					}

					&:hover {
						a {
							border-bottom: rem(3) solid $gray-102;
						}
					}

					&.current-menu-item {
						border-bottom: none;

						@include media-breakpoint-down(sm) {
							border-bottom: rem(1) solid $gray-102;
						}

						a {
							border-bottom: rem(3) solid $brand-dark;
						}
					}

					.nav-link {
						padding: 0 0 rem(22) 0;
						font-size: rem(16);
						color: $gray-103;
						font-family: $heading-font;
						font-weight: 600;

						@include media-breakpoint-down(sm) {
							margin: 0 rem(30);
							padding: rem(27) 0;
						}
					}

					&:last-child {
						border-bottom: none;
					}
				}
			}

			button {
				&.navbar-toggler {
					display: none;
				}
			}

			.navbar {
				@include media-breakpoint-only(md) {
					padding: 0 rem(10);
				}

				@include media-breakpoint-down(sm) {
					padding: 0;
				}

				&.navbar-collapse {
					display: block;
					padding: 0;
				}
			}

			.navbar-expand-lg {
				.navbar-nav {
					@include media-breakpoint-only(md) {
						display: flex;
						flex-wrap: nowrap;
						width: auto;
						flex-direction: row;
						overflow-x: auto;
					}

					li {
						@include media-breakpoint-only(md) {
							padding: 0 rem(15);
						}

						a {
							&.nav-link {
								@include media-breakpoint-only(md) {
									font-size: rem(14);
									line-height: rem(18);
									padding: rem(18) 0 rem(15);
								}
							}
						}
					}
				}
			}
		}
	}

	.job_tab_section {
		@include media-breakpoint-down(sm) {
			.fl-col-content {
				.fl-module {
					.fl-module-content {
						.module-jm-alternating-rows {
							margin-bottom: rem(20);
						}
					}
				}
			}
		}
	}

	&.page-jobs,
	&.page-emplois {

		// Module: fl-module-bbmodule-searchjobs
		// Reason: css added to styling the job search form
		.fl-module-bbmodule-searchjobs {
			.module-jm-searchjobs {
				margin: rem(-72) auto rem(72);
				max-width: 100%;

				@include media-breakpoint-down(sm) {
					margin: rem(-398) auto rem(72);
				}

				.search-content-wrapper {
					.form-data-wrapper {
						height: rem(290);
						padding: rem(76) rem(30) rem(35) rem(30);

						@include media-breakpoint-only(md) {
							height: rem(350);
							padding-top: 0;
							padding-bottom: 0;
						}

						@media (max-width: $extended-screen-lg) {
							height: rem(350);
						}

						@include media-breakpoint-down(sm) {
							height: auto;
							padding: rem(40) rem(30);
						}

						@media (max-width: $small-screen) {
							padding: rem(30) rem(15);
						}

						form {
							@include media-breakpoint-down(sm) {
								margin: 0;
							}
							.status {
								text-align: center;
							}
							.form-field {
								input[type="text"] {
									background: $transparent;
								}
							}

							.submit-field {
								margin-bottom: rem(8);

								@media (max-width: $extended-screen-lg) {
									margin-bottom: rem(11)
								}
							}
						}

						.title {
							font-size: rem(24);
							margin-bottom: rem(20);
							color: $gray-103;

							@include media-breakpoint-down(sm) {
								text-align: center;
							}
						}

						.form-search-description {
							p {
								color: $gray-103;

								@include media-breakpoint-down(sm) {
									text-align: center;
								}
							}
						}

						form {
							padding-top: rem(28);
							margin-top: 0;
							.submit-field {
								button {
									font-weight: 300;
									margin-right: 0;
									padding-left: rem(20);
									padding-right: rem(20);
									@extend %button;

									@include media-breakpoint-only(lg) {
										margin-left: 0;
									}

									@include media-breakpoint-only(md) {
										max-width: rem(200);
										margin-left: 0;
									}

									@include media-breakpoint-down(sm) {
										margin-left: 0;
									}
								}
							}

							@include media-breakpoint-only(lg) {
								padding-top: 0;
							}

							@include media-breakpoint-only(md) {
								padding-top: 0;
							}

							@media (max-width: $small-screen) {
								padding-top: 0;
							}

							fieldset {
								margin-right: rem(21);
								width: 74%;

								@include media-breakpoint-only(lg) {
									width: 73%;
									margin-right: rem(22);
								}

								@include media-breakpoint-only(md) {
									width: calc(100% - 180px);
								}

								@include media-breakpoint-down(sm) {
									width: 100%;
								}
							}
						}
					}
				}
			}
		}

		// Module: fl-module-bs_card
		// Reason: css added set height of images
		.fl-module-bs_card {
			.component_bs_card {
				.card-img-top {
					max-height: rem(335);

					@media (max-width: $ultra-screen) {
						max-height: rem(250);
					}
				}

				.card-body {
					.card-title {
						margin-bottom: rem(7);
					}
				}
			}
		}

		.jobs_pages {
			.fl-row {
				.fl-row-content-wrap {
					@include media-breakpoint-down(md) {
						padding-bottom: rem(60);
					}
				}
			}

			.fl-row-content-wrap {
				@include media-breakpoint-only(lg) {
					padding-left: rem(30);
					padding-right: rem(30);
				}
			}
		}

		.jobs-why-div {
			.fl-col-content {
				@include media-breakpoint-down(md) {
					padding-top: rem(56);
					padding-bottom: 0;
				}
			}

			div {
				&.fl-col-group-nested {
					padding: 0 rem(90);

					@media (max-width: $ultra-screen) {
						padding: 0 rem(45);
					}

					@media (max-width: $extended_screen_lg) {
						padding: 0 rem(30);
					}

					@include media-breakpoint-only(md) {
						padding: 0;
					}

					@include media-breakpoint-down(sm) {
						padding: 0;
					}
				}
			}

			.why-work {
				.fl-col-content {
					border-bottom: rem(4) solid $brand-dark;
					padding: rem(30);

					@include media-breakpoint-only(md) {
						padding: rem(30) rem(10);
					}

					@include media-breakpoint-down(sm) {
						padding: rem(30) rem(20);
					}
				}
			}
		}
	}

	// css for FR jobs page search field
	&.page-emplois {
		.fl-module-bbmodule-searchjobs {
			.module-jm-searchjobs {
				.search-content-wrapper {
					.form-data-wrapper {
						form {
							fieldset {
								width: 64%;

								@include media-breakpoint-only(lg) {
									margin-right: rem(30);
									width: 62%;
								}

								@include media-breakpoint-only(md) {
									width: calc(100% - 210px);
								}

								@include media-breakpoint-down(sm) {
									width: 100%;
								}
							}
						}
					}
				}
			}
		}
	}

	&.page-search,
	&.page-recherche {

		// Module: fl-module-bbmodule-searchresults
		// Reason: css added to manage the styling of search result sections
		.fl-module-bbmodule-searchresults {
			.module-jm-searchresults {
				margin: rem(-72) auto rem(72);
				max-width: 100%;

				@include media-breakpoint-down(sm) {
					margin: rem(-398) auto rem(72);
				}

				fieldset {
					&.filter-by-type {
						.checkbox {
							&:after {
								background: $brand-dark;
							}
							.checked {
								&:after {
									display:flex;
									justify-content: center;
									align-items: center;
								}
							}
						}
					}
				}

				.results-content-wrapper {
					.results-filter-wrapper {
						@media (min-width: $ultra-screen) {
							padding-top: 53px;
							padding-left: rem(60);
							padding-right: rem(60);
						}
						@include media-breakpoint-down(sm) {
							margin-bottom: rem(20);
						}

						.form-type-wrapper {
							h3 {
								color: $gray-103;
								font-size: rem(30);
								line-height: rem(30);
								text-transform: lowercase;

								&::first-letter {
									text-transform: capitalize;
								}
							}
						}

						.form-data-wrapper {
							@include media-breakpoint-only(md) {
								margin-top: rem(6);
								margin-bottom: rem(32);
							}

							.filter-by-type {
								margin-top: rem(24);
							}

							.submit-field {
								margin-top: rem(20);
							}
						}

						legend {
							color: $gray-103;
							font-weight: 600;
							font-size: rem(16);
						}

						.submit-field {
							button {
								font-weight: 400;
								@extend %button;
							}
						}
					}

					.results-data-wrapper {
						@media (min-width: $ultra-screen) {
							padding-top: 53px;
							padding-left: rem(60);
							padding-right: rem(60);
						}
						.title {
							color: $gray-103;
							font-size: rem(30);
							line-height: rem(30);
							margin-bottom: rem(28);

							@include media-breakpoint-down(sm) {
								margin-bottom: rem(7);
							}
						}

						p {
							color: $gray-103;
							margin-bottom: rem(22);
							@include media-breakpoint-down(sm) {
								margin-bottom: rem(8);
							}
						}
						.results-pager {
							padding-top: rem(28);
							.pager-wrapper {
								.link-item {
									@media (min-width:$ultra-screen-sm) {
										margin-left: 17px;
									}
								}
							}
						}
						.results-status {
							color: $gray-103;
						}

						.results-list {
							.tr {
								@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
									border-top: none;
								}
								.job-type {
									@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
										border-right: none;
									}
								}
								@media (max-width:$extended-screen-sm) {
									display: flex;
									justify-content: space-between;
									align-items: center;
								}

								@include media-breakpoint-down(sm) {
									display: block;
									padding-top: rem(2);
									padding-bottom: rem(2);
								}

								.td {
									@media (min-width:$extended-screen-sm) {
										padding: rem(10) rem(30);
										width: 33.3%;
									}

									@media (max-width:$extended-screen-sm) {
										width: 33.3%;
									}

									@include media-breakpoint-down(sm) {
										width: 100%;
									}

									&:first-child {
										@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
											border-left: none;
										}
										@media (max-width:$extended-screen-sm) {
											padding-top: 0;
										}

										a {
											color: $gray-103;
											font-family: $heading-font;
											font-size: rem(16);
											list-style: rem(20);
										}
									}

									&.dept {
										color: $gray-103;
										font-size: rem(16);
									}

									&.job-type {
										padding-right: rem(30);
										@media (max-width:$extended-screen-sm) {
											text-align: right;
										}

										@include media-breakpoint-down(sm) {
											text-align: left;
										}

										mark {
											background-color: $black-101;
											color: $white;
											font-size: rem(14);
											line-height: rem(23);
											padding-top: rem(2);
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	&.page-avantages,
	&.page-advantages {

		// Module: fl-module-bbmodule-alternating_content
		// Reason: css added to manage the advantages section
		.fl-module-bbmodule-alternating_content {
			.module-jm-alternating-rows {
				margin: rem(-72) auto rem(1);
				max-width: 100%;

				@include media-breakpoint-down(sm) {
					margin: rem(-398) auto rem(72);
				}

				.alternating-content-wrapper {
					margin: 0;
					padding: rem(30) rem(30) rem(20) rem(30);

					@include media-breakpoint-down(sm) {
						padding-top: rem(44);
					}

					.content-description {
						padding: rem(20) 0;
						margin-bottom: 0;

						@include media-breakpoint-down(sm) {
							padding: 0;
						}

						p {
							color: $gray-103;

							@include media-breakpoint-down(sm) {
								margin-bottom: rem(10);
							}
						}

						color: $gray-103;

						.title {
							font-size: rem(30);
							margin-bottom: rem(20);

							@include media-breakpoint-down(sm) {
								font-size: rem(24);
							}
						}
					}

					.alt-content {
						@include media-breakpoint-up(lg) {
							align-items: center;
						}

						@include media-breakpoint-down(sm) {
							margin-bottom: 22px;
						}
					}
				}

				.content-wrapper {
					h3 {
						margin-bottom: rem(20);
					}
					@media (min-width:$ultra-screen-sm) {
						padding-left:rem(60);
						padding-right:rem(60);
						display:flex;
						justify-content: center;
						flex-direction: column;
					}
					padding: rem(30);
					padding: rem(40) rem(20);
					@media (max-width:$extended-screen-sm) {
						padding: rem(20) rem(20);
					}

					.bullet {
						top: rem(3);
					}
				}
			}
		}
	}

	&.page-portraits,
	&.page-job-descriptions {

		// Module: fl-module-bbmodule-alternating_content
		// Reason: css added to manage job description section
		.fl-module-bbmodule-alternating_content {
			.module-jm-alternating-rows {
				margin: rem(-72) auto rem(1);
				max-width: 100%;

				@include media-breakpoint-down(sm) {
					margin: rem(-398) auto rem(72);
				}

				.alternating-content-wrapper {
					margin: 0;
					padding: rem(20) 0rem(25);

					@include media-breakpoint-down(sm) {
						padding-bottom: rem(8);
					}

					@include media-breakpoint-down(sm) {
						padding-top: rem(24);
					}

					.content-description {
						padding: rem(20) 0;
						margin-bottom: 0;

						p {
							color: $gray-103;
							margin-bottom: 0;
						}

						color: $gray-103;

						.title {
							font-size: rem(30);
							margin-bottom: rem(20);

							@include media-breakpoint-down(sm) {
								font-size: rem(24);
							}
						}
					}

					.alt-content {
						.content-wrapper {
							h3 {
								margin-bottom: rem(25);
							}
							@media (min-width:$ultra-screen-sm) {
								padding-left:rem(60);
								padding-right:rem(60);
								display:flex;
								justify-content:center;
								flex-direction: column;
							}
							padding: rem(30);
							padding: rem(40) rem(20);
		
							@media (max-width:$extended-screen-sm) {
								padding: rem(20) rem(20);
							}
							ul {
								margin-bottom: rem(20);
								padding-left: 0;

								li {
									padding-left: rem(25);
									position: relative;

									.bullet {
										left: 0;
										top: rem(3);
									}
								}
							}

							.job-offer-class {
								ul {
									li {
										padding-left: 0;
									}
								}
							}
						}
					}

					.job-offer-class {
						ul {
							columns: 3;
							padding-left: 0;

							@include media-breakpoint-only(md) {
								columns: 1;
							}

							@include media-breakpoint-down(sm) {
								columns: 1;
							}

							li {
								padding-left: 0;

								span {
									&:before {
										content: '';
									}
								}

								a {
									&:hover {
										text-decoration: none;
									}

									&:after {
										content: '\e802';
										font-family: 'brand';
										margin-left: rem(10);
									}
								}
							}
						}
					}
				}

				.content-wrapper {
					ul {
						li {
							padding-left: rem(5);
						}
					}
				}
			}
		}
	}

	&.page-application,
	&.page-candidature-spontanee {

		// Module: fl-module-bbmodule-openapplication
		// Reason: css added to manage the styling of search form
		.fl-module-bbmodule-openapplication {
			.module-jm-openapplication {
				margin: rem(-72) auto rem(72);
				max-width: 100%;

				@include media-breakpoint-down(sm) {
					margin: rem(-398) auto rem(72);
				}

				.step-status {
					margin: rem(50) rem(30) rem(30) rem(30);

					@include media-breakpoint-up(lg) {
						margin-left: rem(180);
						margin-right: rem(180);
						margin-bottom: rem(50);
					}

					@include media-breakpoint-down(sm) {
						margin-top: rem(40);
					}
				}

				.application-content-wrapper {
					.step-status {
						color: $gray-103;
						padding-bottom: rem(15);
					}

					.application-filter-wrapper {
						.form-description-wrapper {
							p {
								color: $gray-103;
							}

							.title {
								font-size: rem(24);
								margin-bottom: rem(12);
								color: $gray-103;

								@include media-breakpoint-down(sm) {
									text-align: center;
								}
							}
						}

						form {
							.submit-field {
								button {
									font-weight: 300;
									@extend %button;
								}
							}
						}
					}
				}

				&.-step-1 {

					.application-filter-wrapper,
					.application-selection-wrapper {
						padding: 0 rem(30);
					}

					.application-filter-wrapper {
						.form-description-wrapper {
							margin-bottom: rem(30);

							@include media-breakpoint-only(md) {
								margin-top: rem(50);
							}

							@include media-breakpoint-down(sm) {
								margin-top: rem(40);
							}
						}

						.form-data-wrapper {
							margin-top: rem(30);

							@include media-breakpoint-down(sm) {
								margin-bottom: rem(40);
							}
						}
					}
				}

				&.-step-2 {
					.application-content-wrapper {
						.form-description-wrapper {
							@include media-breakpoint-up(lg) {
								padding-right: rem(20);
							}

							.title {
								text-align: left;
							}

							.filter-by-region {
								.form-field {
									&:last-child {
										@include media-breakpoint-up(sm) {
											margin-right: 0;
											width: 33.8%;
										}
									}
								}
							}
						}

						.application-selection-wrapper {
							padding: 0 rem(30);

							@include media-breakpoint-up(lg) {
								padding: 0 rem(180);
							}
						}
					}

					.job-choice {
						.checkbox {
							&.checked {
								&:after {
									font-size: rem(12);
									display: flex;
									justify-content: center;
									align-items: center;
									background:$brand-dark;
								}
							}

							input {
								opacity: 0;
							}
						}

						label {

							&:focus,
							&:focus-within {
								outline: none;
							}
						}
					}

					.status {
						&.submit-status {
							background: $white;
							text-align: center;
							color: $brand-dark;
						}

						&.loading {
							border: rem(1) solid $brand-dark;
							color: $brand-dark;
							padding: rem(5) 0;
							display:none;
						}
					}
					.item {
						button {
							color:$brand-dark;
						}
					}
				}

				.submit-field {
					button {
						@extend %button;
					}
				}

				&.-step-3 {
					.application-submit-wrapper {
						@include media-breakpoint-up(lg) {
							padding: 0;
							width: rem(850);
							margin: 0 auto;
						}

						a {
							color: $brand-dark;
						}
					}

					.frm_style_formidable-style {

						input[type="text"],
						input[type="email"],
						input[type="tel"],
						textarea {
							font-family: $main-font-3;
						}

						input[type="tel"] {
							display: block;
						}

						.form-field {
							.frm_blank_field {
								input,
								select,
								textarea {
									border-color:$error-color;
									&:focus{
										box-shadow: none;
									}
								}
							}
							&.select-job {
								display: block;
								vertical-align: middle;
								position: relative;

								&:after {
									border: rem(2) solid $brand-dark;
									border-width: 0 rem(2) rem(2) 0;
									content: "";
									height: .5rem;
									padding: .1875rem;
									position: absolute;
									right: rem(2);
									transform: translate(-41%, 0%) rotate(45deg);
									top: 41%;
									pointer-events: none;
									z-index: 9;
								}

								select {
									-webkit-appearance: none;
									-moz-appearance: none;
									appearance: none;
									-ms-appearance: none;
									padding: rem(8);
									border-width: rem(2);
									width: 100%;

									&::-ms-expand {
										display: none;
									}
								}
							}
						}

						&.with_frm_style {
							div {
								&.frm_description {
									font-family: $main-font-3;
								}
							}

							.frm_top_container {
								.frm_primary_label {
									font-family: $main-font-3;
								}
							}

							.frm_compact {
								.frm_dropzone {
									&.dz-clickable {
										.dz-message {
											font-family: $main-font-3;
										}
									}
								}
							}

							select {
								font-family: $main-font-3;
							}

							.frm_submit {
								button {
									@extend %button;
								}
							}
						}
					}

					.frm_compact_text {
						margin-bottom: rem(8);

						button {
							font-family: $main-font-3;
						}
					}

					.frm_dropzone {
						&.dz-clickable {
							min-height: rem(30);
							position: relative;
							bottom: rem(11);
						}
					}

					.frm_upload_text {
						margin-left: 0;
						position: absolute;
					}
					.open-apply-submit {
						fieldset {
							.frm_fields_container {
								@media (min-width:$ultra-screen-sm) {
									padding-bottom:rem(66);
								}								
							}
							label {
								&.frm_primary_label {
									color: $gray-25;
								}
							}
						}
					}
				}
			}
		}
	}

	// Form fields styling
	.filter-by-region {
		.form-field {
			&.facetwp-facet {
				display: block;
				vertical-align: middle;
				position: relative;

				&:after {
					border: rem(2) solid $brand-dark;
					border-width: 0 rem(2) rem(2) 0;
					content: "";
					height: .5rem;
					padding: .1875rem;
					position: absolute;
					right: rem(2);
					transform: translate(-41%, 0%) rotate(45deg);
					top: 37%;
					pointer-events: none;
				}

				select {
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					-ms-appearance: none;
					padding: rem(8);
					border-width: rem(1);

					&::-ms-expand {
						display: none;
					}
				}
			}

			input[type="text"] {
				border-width: rem(1);
			}
		}
	}

	&.single-fp_job {

		// Module: fl-module-bbmodule-singlejob
		// Reason: css added to manage the styling of search form
		.fl-module-bbmodule-singlejob {
			.module-jm-singlejob {
				margin: rem(-72) auto rem(72);
				max-width: 100%;

				@include media-breakpoint-down(sm) {
					margin: rem(-398) auto rem(72);
				}

				.single-content-wrapper {
					.job-details {
						.back-link {
							a {
								span {
									margin-right: 8px;
								}
							}
						}
						h3 {
							margin-bottom: rem(20);
						}
						ul {
							li {
								&:before {
									width: rem(20);
									position: relative;
									top: rem(1);
								}
							}
						}
					}

					.job-details-wrapper {
						padding: rem(33) rem(30);

						@media (max-width:$extended-screen-sm) {
							padding-bottom: 0;
							padding-top: rem(20);
						}

						.title {
							margin-bottom: 18px;
						}
					}

					.job-apply-wrapper {
						.job-apply-form {
							@include media-breakpoint-down(md) {
								padding-bottom: rem(10);
							}
							.frm_message{
								margin-top:rem(20);
								p {
									margin-bottom: 0;
								}
							}
						}
					}
					.grid-spacer {
						&:before {
							height: 90%;
						}
					}
				}

				.store-name {
					color: $gray-103;
				}

				.form-field {
					&.frm_half {

						input,
						label,
						textarea {
							font-family: $main-font-3;
						}
					}
				}

				.frm_style_formidable-style {

					input[type="text"],
					input[type="email"],
					input[type="tel"],
					textarea {
						font-family: $main-font-3;
						padding-left: 0;
					}

					input[type="tel"] {
						display: block;
					}

					&.with_frm_style {
						div {
							&.frm_description {
								font-family: $main-font-3;
							}
						}

						.frm_top_container {
							.frm_primary_label {
								font-family: $main-font-3;
							}
						}

						.frm_compact {
							.frm_dropzone {
								&.dz-clickable {
									.dz-message {
										font-family: $main-font-3;
									}
								}
							}
						}

						select {
							font-family: $main-font-3;
						}

						.frm_submit {
							button {
								@extend %button;
							}
						}
					}
				}

				.frm_compact_text {
					margin-bottom: rem(8);

					button {
						font-family: $main-font-3;
					}
				}

				.frm_dropzone {
					&.dz-clickable {
						min-height: rem(30);
						position: relative;
						bottom: rem(11);
					}
				}

				.frm_upload_text {
					margin-left: 0;
					position: absolute;
				}

				.title {
					mark {
						background-color: $black-101;
						color: $white;
					}
				}

				a {
					color: $brand-dark;
				}
			}
		}
	}
}