.carrer_footer{
  .footer_menu{
      .nav-link{
        font-size: rem(16) !important;
        font-family: 'Lexend Deca' !important;
        color:  $text-links--colour !important;
        padding-left: 0 !important;
        padding-right: rem(24) !important;  
        padding: rem(14) rem(24) 0 0 !important;
          }
  }
  .component_social_share{
    span{
      height: 48px;
      width: 48px;
      background: none !important;
      color: $text-links--colour !important;
      border: 2px solid $text-links--colour !important;
      font-size: 21px !important;
    }
  }
}
@include media-breakpoint-down(sm) {
  .carrer_footer{
    #menu-footer-menu{
      display: block !important;
    }
  }
}