@import "component";
.header-top {
  .icon-top-nav-login {
    display: flex !important;
    align-items: center  !important;

    &::before {
      width: rem(16) ;
      height: rem(16) ;
    }
  }
}

.header-brand {
  nav {
    ul {
      &.menu {
        @include media-breakpoint-down(sm) {
          width: 100%;
          background: $white;
          z-index: 100;
          padding: rem(20) rem(25);
          height: rem(267) !important;
          display: none !important;
          position: absolute;
          top: 100%;
          right: -100%;
          transition: all .5s ease;
          text-align: left;
          margin: 0;
        }

        &.open {
          right: 0;
          height: 100vh !important;
          display: block !important;

          @include media-breakpoint-down(sm) {
            height: 100vh !important;
          }

          @media (max-width: $extra_small_screen) {
            top: rem(62);
          }

          @media (max-width: $small_screen) {
            top: rem(66);
          }

        }

        li {

          @include media-breakpoint-down(sm) {
            border-bottom: rem(1) solid $light_greyCol;
            padding-top: rem(20);
            padding-bottom: rem(20);
          }

          +li {
            margin-left: rem(32);

            @include media-breakpoint-down(sm) {
              margin-left: 0;
              margin-top: 0;
            }
          }

          &:first-child {

            @include media-breakpoint-down(sm) {
              border-top: rem(1) solid $light_greyCol;
            }
          }

          &:last-child {
            border-bottom: none !important;

            @include media-breakpoint-down(sm) {
              border-bottom: none !important;
            }
          }

          a {
            text-transform: capitalize;
            color: $dark-grey2;
            transition-duration: .3s;
            text-decoration: none !important;

            @include media-breakpoint-down(sm) {
              font-size: rem(14);
            }

            &:focus,
            &:hover {
              color: $aqua-green;
              outline: none !important;

            }
          }
        }
      }
    }
  }

  .fl-menu {
    button {
      &.fl-menu-mobile-toggle {
        &.hamburger {
          @include media-breakpoint-down(sm) {
            position: relative;
            margin: 0;
            padding: 0;
          }

          &:before {
            @include media-breakpoint-down(sm) {
              top: rem(-5);
              position: relative;
              content: "";
              display: block;
              width: rem(24);
              height: rem(3);
              border-radius: rem(10);
              background-color: $aqua-green;
              transition: transform .5s ease-in-out;
            }

          }

          &:after {

            @include media-breakpoint-down(sm) {
              bottom: rem(-5);
              position: relative;
              content: "";
              display: block;
              width: rem(24);
              height: rem(3);
              border-radius: rem(10);
              background-color: $aqua-green;
              transition: transform .5s ease-in-out;
            }

          }

          &:focus {
            outline: none !important;
          }

          span {
            @include media-breakpoint-down(sm) {
              display: block;
              width: rem(24);
              height: rem(3);
              border-radius: rem(10);
              background-color: $aqua-green;
            }

            svg {
              display: none;
            }
          }

          &.active {
            &:before {
              @include media-breakpoint-down(sm) {
                transform: translateY(rem(6)) rotate(-225deg);
              }
            }

            &:after {
              @include media-breakpoint-down(sm) {
                transform: translateY(rem(-10)) rotate(225deg);
              }
            }

            span {
              @include media-breakpoint-down(sm) {
                background-color: transparent;
                transition-delay: 0s;
              }
            }
          }
        }
      }
    }
  }
}