@import 'component';

$gray-soft: #cccaca !default;
$gray-25: #404040 !default;

.component_recipe_nutrition_facts {

	.title {
		margin: 0;
		margin-bottom: rem(30);
		font-weight: 300;
		line-height: rem(36);

		font-size: rem(36);

		@media (max-width: $ultra-screen) {
			font-size: rem(30);
			line-height: rem(30);
		}

		@include media-breakpoint-only(md) {
			font-size: rem(26);
			margin-bottom: rem(20);
		}

	}

	.row {
		border-bottom: solid rem(1) $gray-soft;
		padding: rem(10) 0;
		color: $gray-25;
		margin: 0;

		&:first-child {
			border: none;
		}

		@include media-breakpoint-only(md) {
			font-size: rem(14);
		}

		dt {
			font-weight: 300;
			padding: 0;
		}

		dd {
			margin: 0;
			padding: 0;
		}

		strong {
			font-weight: bold;
		}
	}


}

.single-recipe {
	.component_recipe_nutrition_facts {
		.row {
			&:first-child {
				border-top: solid rem(1) $gray-soft;

				dt {
					font-size: rem(20);

					@media (max-width: $ultra_screen) {
						font-size: rem(18);
					}
				}

				dd {
					max-width: 40%;
				}
			}
		}
	}
}

@media print {
	.fl-module-recipe_nutrition_facts {
		margin-top: rem(15);
	}
}